*{
    background-color: bisque;
}

#site{
    width:1000px;
    height:800px;
    margin-top:0;
    margin-left:auto;
    margin-bottom:0;
    margin-right:auto;
    background-color:#666;
}

#header{
    width:1000px;
  /* altura da div */
    height:100px;
  /* Cor de fundo da div */
    background-color:#00F;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #0F0;
    font-size: 100px;
}

#conteudo{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:600px;
    /* Cor de fundo da div */
    background-color:rgb(93, 0, 255);
    }

    #conteudo-esquerda{
        width: 333px;
        height: 580px;
        float: left;
        background-color: #F00;
        text-align: center;
        color: rgb(5, 5, 5);
        font-size: 20px;
    }

    #fotohaaland{
        width: 100px;
        height:100px;
        justify-content: left;
    }

    #conteudo-centro{
        width: 333px;
        height: 580px;
        float: left;
        background-color: #FF0;
        text-align: center;
        color: rgb(5, 5, 5);
        font-size: 20px;
        padding-top: 1px;
    }
    #fotosuplementacao{
        width: 100px;
        height:100px;
        justify-content: left;
    }

    #conteudo-direita{
        width:333px;
        height:580px;
        float:left;
        background-color:#F00;
        text-align: center;
        color: rgb(5, 5, 5);
        font-size: 20px;
        }

    #alimentacaoSaudavel{
        width: 100px;
        height:100px;
        
    }


    h3{
        text-align: center;
    }

    #footer{
        width:1000px;
        height:200px;
        background-color:#C3C;
        text-align: center;
        font-size: 20px;
        }

    #betWinner{
        width: 100px;
        height:100px;
        justify-content: left;
        text-align: center;
    }



